<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mongo_Project</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 50px;
    }

    .h {
      background-color: pink;
      color: white;
      padding: 20px;
      border-radius: 10px;
    }

    button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1 class="h">Hi this is Mongo Project!!</h1>
  <button onclick="window.location.href='/login'">Login</button>
  <button onclick="window.location.href='/logout'">Logout</button>
</body>
</html>
