<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
</head>

<body>
    <div class="login">
        <form action="/login" method="post">
            <div class="username">
                <label for="Username">Enter the username :</label>
                <input type="text" name="Username" placeholder="Username" id="Username">
            </div>
            <div class="pass">
                <label for="Password">Enter the password :</label>
                <input type="password" name="Password" placeholder="Password" id="Password">
            </div>
            <button>Submit</button>
        </form>
    </div>
</body>

</html>